.s1
{
    font-size: 30px;
    color: purple;
    text-align: center;
    font-weight: 900;
}
.s2
{
    font-size: 30px;
    color: red;
    text-align: center;
    font-weight: 900;
}
.s3
{
    font-size: 30px;
    color: blue;
    text-align: left;
    font-weight: 900;
}
.s4
{
    font-size: 30px;
    color: brown;
    text-align: left;
    font-weight: 900;
}